.footer
    .container
        span.text-center.brand-title christiansoler.me
        ul
            li: a(href="/") Home
            li &#8756;
            li: a(href="/blogs") Blog
            li &#8756;
            li: a(href="https://github.com/iamrelos/", target="_blank") Github
            li &#8756;
            li: a(href="https://codepen.io/iamrelos/", target="_blank") Codepen