@import "./partials/_utils";

html {
    height: 100%;
    
    body {
        height: 100%;
        font-family: $font-montserrat;
        font-weight: $font-weight-regular;
        color: $color-light-black;
        background-color: $color-white;
    }
}